@page
@model _1.Semester_Projekt.Pages.CreateModel
@{
    ViewData["Title"] = "Create Facts Page";
}

<div class="text-center">
    <h1 class="display-4">
        @ViewData["Title"]
    </h1>
</div>
<form class="form-control" method="post">

</form>
