@page
@model _1.Semester_Projekt.Pages.EditModel
@{
    ViewData["Title"] = "Edit";
}
<h1>Edit</h1>

<button asp-page="">Create new fact</button>

<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Navn
            </th>
            <th>
                Info
            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>