/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.facts-buttons-item {
    padding:0.5rem 1.5rem;
}

.bg-black {
    background-color: #000000;
}

.btn-orange {
    background-color: #de5d21;
}

.btn-orange:hover {
    background-color: #eb5f1f;
}

.table-black {
    color: white;
    background-color: black;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.fact-col {
    height: 15rem;
    border-radius: 1rem;
}

.bg-image-main {    
    background-image: url(../images/RockMuseumRoskilde.jpg);
}

.bg-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;    
}

.bg-image-afspillere {
    background-image: url(../images/Pladeafspiller.jpeg);
}

.bg-image-dans {
    background-image: url(../images/headbang.jpg);
}

.bg-image-fans {
    background-image: url(../images/fans.jpg);
}

.bg-image-instrumenter {
    background-image: url(../images/InstrumenterGuitar.jfif);
}

.bg-image-kultur {
    background-image: url(../images/Ungdosmkultur.jpg);
}

.bg-image-lyd {
    background-image: url(../images/Lyd.jfif);
}

.bg-image-lys {
    background-image: url(../images/Lys.jfif);
}

.bg-image-musikgenre {
    background-image: url(../images/GenreMusik.jfif);
}

.bg-image-politik {
    background-image: url(../images/ParalamentPolitik.jpg);
}

/* Provide sufficient contrast against white background */

a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;  
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */  
}