@page
@model _1.Semester_Projekt.Pages.FactsPages.IndexModel
@{
    ViewData["Title"] = "Dans";
}
<h1>Dans</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>

</table>