@page
@model MusikGenreModel
@{
    ViewData["Title"] = "Musik Genre";
}
<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    @foreach (var fakta in Model.Faktas)
    {
        <p>@fakta.Value.EmneTekst</p>
        <hr />
    }
</div>