@page
@model _1.Semester_Projekt.Pages.FactsPages.PsyTranceModel
@{
    ViewData["Title"] = "Test Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To @ViewData["Title"]</h1>
</div>

<div class="text-center">
    <audio controls>
        <source src="~/sounds/psy-trance.mp3" type="audio/mp3" />
    </audio>
</div>
