@page
@model PsyTranceModel
@{
    ViewData["Title"] = "Test Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To @ViewData["Title"]</h1>

    <audio controls src="~/sounds/psy-trance.mp3" type="audio/mp3"></audio>
</div>
