@page 
@model FactsPageModel
@{
    ViewData["Title"] = "Facts List";
}

<div class="text-center">
    <h1 class="display-4">Welcome To @ViewData["Title"]</h1>
</div>

<div class="text-center facts-buttons">
    <a class="btn btn-orange" asp-area="" asp-page="/FactsPages/PsyTrance">Psy Trance</a>
    <a class="btn btn-orange" asp-area="" asp-page="/FactsPages/Dans">Dans</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Emne
            </th>
            <th>
                Link
            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>