@page 
@model FactsPageModel
@{
    ViewData["Title"] = "Facts List";
}

<div class="text-center">
    <h1 class="display-4">Welcome To @ViewData["Title"]</h1>
</div>

<div class="container">
    <div class="row">
        @foreach (var item in Model.Faktas)
        {
        <div class="col-lg-4 pb-4 text-center">
            <div style="height: 10rem; background-image: url(' /images/@item.Value.ImageName'); background-repeat: no-repeat; background-size: cover; ">
                <h3 class="text-white p-3">@item.Value.Emne @item.Value.Id</h3>
                <a class="btn btn-orange" asp-page="@item.Value.Path">Go To</a>
            </div>
        </div>
        }
    </div>
</div>