@page 
@model IndexModel
@{
    ViewData["BackgroundClass"] = "bg-image-main bg-image";
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4 text-light">Welcome To SuperbSiteSeeing</h1>
</div>